<div class="title">
  Streams
</div>
<div class="content">
  <ul>
    <li class="stream" ng-repeat="subscription in zulipData.subscriptions" ng-class="{expanded: subscription.name==active_stream}">
      <a ui-sref="main.narrow({ type: 'stream', name: subscription.name })" ng-click="hideLHCaRHC()">
        <span class="glyphicon" style="color: {{ subscription.color }};" ng-class="subscription.invite_only==true ? 'glyphicon-lock' : 'glyphicon-stop'"></span>{{ subscription.name }}
        <span class="badge" ng-show="messagesUnread[subscription.name] > 0">{{ messagesUnread[subscription.name] }}</span>
      </a>
      <ul>
        <li ng-repeat="topic in topics[subscription.name]">
          <a ui-sref="main.narrow.topic({ type: 'stream', name: subscription.name, topic: topic })" ng-click="hideLHCaRHC()">
            {{ topic }}
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>