<!-- Modal for new stream conversation -->
<div id="stream_message" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="New private message">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">New stream message</h4>
      </div>
      
      <div class="modal-body">
        <div uib-dropdown keyboard-nav auto-close="outsideClick">
            <input type="text" 
              ng-model="new_stream_recipient" 
              class="form-control stream" 
              id="new_stream_recipient"
              autocomplete="off"
              placeholder="Stream" uib-dropdown-toggle>

            <ul uib-dropdown-menu >
              <li ng-repeat="subscription in zulipData.subscriptions | toArray:false | filter:{name: new_stream_recipient} | limitTo: 5">
                <a ng-click="$parent.new_stream_recipient = subscription.name; focusInput('new_stream_recipient');">
                {{ subscription.name }}
                </a>
              </li>
            </ul>
        </div>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$parent.new_stream_recipient = '';" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary"
          ui-sref="main.narrow({ type: 'stream', name: new_stream_recipient})"
        >Next</a>
      </div>
      
    </div>
  </div>
</div>