<div class="header row main">
  <div class="col-sm-4 col-xs-4 col-md-1 col-lg-1 lhc">
    <a ui-sref="home()" class="hidden-md hidden-lg">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <img class="logo hidden-xs hidden-sm" src="img/zulipcornerlogo@2x.png"/>
  </div>
  <div class="col-sm-4 col-xs-4 hidden-md hidden-lg main">
    {{routeParams.name != '' ? routeParams.name : 'Home'}}
  </div>
  <div class="col-sm-4 col-xs-4 col-md-2 col-lg-2 rhc">
    <a ng-click="showOverlay('stream_message')">
      <span class="glyphicon glyphicon-bullhorn"></span>
    </a>
    <a ng-click="showOverlay('private_message');">
      <span class="glyphicon glyphicon-pencil"></span>
    </a>
    
    <div uib-dropdown class="options">
      <a href='#'>
        <span class="glyphicon glyphicon-option-vertical" uib-dropdown-toggle></span>
      </a>
      <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li role="menuitem">
          <a ng-click="showOverlay('search_message');">
            <span class="glyphicon glyphicon-search"></span> Search
          </a>
        </li>
        <li role="menuitem">
          <a ui-sref="settings()">
            <span class="glyphicon glyphicon-cog"></span> Settings
          </a>
        </li>
        <li role="menuitem">
          <a ng-click="logout()">
            <span class="glyphicon glyphicon-off"></span> Logout
          </a>
        </li>
      </ul>
    </div>
    
  </div>
  <div class="col-md-9 col-lg-9 hidden-xs hidden-sm main">
    {{routeParams.name != '' ? routeParams.name : 'Home'}}
  </div>
</div>

<div class="row page_main">
  <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
    <ng-include src="'partials/layout_3/_navigation.html'"></ng-include>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
    <ng-include src="'partials/layout_3/_messages.html'"></ng-include>
  </div>
</div>

<ng-include src="'partials/layout_3/_private_message.html'"></ng-include>
<ng-include src="'partials/layout_3/_stream_message.html'"></ng-include>
<ng-include src="'partials/layout_3/_search_message.html'"></ng-include>
