<!-- Header greater xs -->
<div class="header row hidden-sm hidden-xs visible-md visible-lg">
  <div class="col-md-12 col-lg-12 lhc">
    <a ui-sref="main()">
      <img class="logo" src="/img/zulipcornerlogo@2x.png"/>
    </a>
  </div>
</div>

<!-- Header smaller md -->
<div class="header row visible-sm visible-xs hidden-md hidden-lg">
  <div class="col-sm-3 col-xs-3 lhc">
    <a ui-sref="main()">
      <span class="glyphicon glyphicon-home"></span>
    </a>
  </div>
  <div class="col-sm-6 col-xs-6 main">
    Zulip
  </div>
  <div class="col-sm-3 col-xs-3 rhc">
    
  </div>
</div>