<!-- Header greater xs -->
<div class="header row hidden-sm hidden-xs visible-md visible-lg">
  <div class="col-md-2 lhc">
    <a ui-sref="main()">
      <img class="logo" src="/img/zulipcornerlogo@2x.png"/>
    </a>
  </div>
  <div class="col-md-8 main">
      <span class="glyphicon glyphicon-home home-icon"></span>
      <span class="glyphicon glyphicon-search search-icon"></span>
      <form ng-submit="search(searchTerm)" class="search-form">
          <input type="text" class="search-field" ng-model="searchTerm" placeholder="Search"/>
          <input type="submit" class="search-btn" />
      </form>
  </div>
  <div class="col-md-2 rhc" ng-controller="LoginCtrl">
      <a ui-sref="settings()">
        <span class="glyphicon glyphicon-cog"></span>
      </a>
      <a href="#" ng-click="logout()">
          <span class="glyphicon glyphicon-off"></span>
      </a>
  </div>
</div>

<!-- Header smaller md -->
<div class="header row visible-sm visible-xs hidden-md hidden-lg">
  <div class="col-sm-3 col-xs-3 lhc">
      <span class="glyphicon glyphicon-th-list" ng-click="showLHC()"></span>
  </div>
  <div class="col-sm-6 col-xs-6 main">
    <a ui-sref="main()">
      Zulip
    </a>
  </div>
  <div class="col-sm-3 col-xs-3 rhc">
    <a ui-sref="settings()">
      <span class="glyphicon glyphicon-cog"></span>
    </a>
    <span class="glyphicon glyphicon-user" ng-click="showRHC()"></span>
  </div>
</div>