<div class="title">
  Users
</div>
<div class="content">
  <input class="form-control" ng-model="userFilter"/>
  <ul>
    <li class="user" ng-repeat="user in zulipData.realm_users | filter:{email: '!'+me} | filter:userFilter" 
    ng-class="{ 'active': presences[user.email] == 'active', 
                'idle': presences[user.email] == 'idle', 
                'offline': presences[user.email] == 'offline' }">
      <a ui-sref="main.narrow({ type: 'pm-with', name: user.email })" ng-click="hideLHCaRHC()">
        <span>{{ user.full_name }}</span>
      </a>
    </li>
  </ul>
</div>