<div class="content">
  <ul>
    <li ng-class="{expanded: null==active_stream}">
      <a ui-sref="main">
        <span class="glyphicon glyphicon-home"></span>Home
        <span class="badge" ng-show="messagesUnread['home'] > 0">{{ messagesUnread['home'] }}</span>
      </a>
    </li>
    <li ng-class="{expanded: 'private'==active_stream}">
      <a ui-sref="main.narrow({ type: 'is', name: 'private' })">
        <span class="glyphicon glyphicon-user"></span>Private messages
        <span class="badge" ng-show="messagesUnread['private'] > 0">{{ messagesUnread['private'] }}</span>
      </a>
    </li>
    <li ng-class="{expanded: 'starred'==active_stream}">
      <a ui-sref="main.narrow({ type: 'is', name: 'starred' })">
        <span class="glyphicon glyphicon-star"></span>Starred messages
        <span class="badge" ng-show="messagesUnread['starred'] > 0">{{ messagesUnread['starred'] }}</span>
      </a>
    </li>
    <li ng-class="{expanded: 'mentioned'==active_stream}">
      <a  ui-sref="main.narrow({ type: 'is', name: 'mentioned' })">
        <span class="glyphicon glyphicon-tags"></span>@-mentions
        <span class="badge" ng-show="messagesUnread['mentioned'] > 0">{{ messagesUnread['mentioned'] }}</span>
      </a>
    </li>
  </ul>
</div>