<div class="login header row">
  <div class="col-sm-4 col-xs-4 lhc">
    <img class="logo" src="img/zulipcornerlogo@2x.png"/>
  </div>
  <div class="col-sm-4 col-xs-4 main">
    
  </div>
  <div class="col-sm-4 col-xs-4 rhc">
        
  </div>
</div>

<div class="row login_container">
    <div class="col-xs-12 col-sm-12 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4">
        <form class="login" name="form" ng-submit="login(server, username, password)">
            <div class="error_space">
              <div class="error_message alert alert-danger" role="alert" ng-if="error != null">
                {{error}}
              </div>
            </div>
            
            <div class="form-group has-feedback" ng-class="{'has-error': ((form.$submitted || form.server.$touched) && form.server.$error.required)}">
              <input type="text" class="form-control" ng-model="server" placeholder="Server" name="server" required=""/>
              <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-show="(form.$submitted || form.server.$touched) && form.server.$error.required"></span>
            </div>
            
            <div class="form-group has-feedback" ng-class="{'has-error': ((form.$submitted || form.username.$touched) && form.username.$error.required)}">
              <input type="text" class="form-control" ng-model="username" name="username" placeholder="Username" required="" />
              <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-show="(form.$submitted || form.username.$touched) && form.username.$error.required"></span>
            </div>
            
            <div class="form-group has-feedback" ng-class="{'has-error': ((form.$submitted || form.password.$touched) && form.password.$error.required)}">
              <input type="password" class="form-control" ng-model="password" placeholder="Password" name="password" required="" />
              <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-show="(form.$submitted || form.password.$touched) && form.password.$error.required"></span>
            </div>
            
            <br/>
            <input type="submit" class="form-control" value="Login"/>
        </form>
    </div>
</div>