<ng-include src="'partials/_header_main.html'"></ng-include>

<div class="content-container">
  <div class="row">
  
    <!-- LHC -->  
    <div class="col-md-2 col-sm-9 col-xs-9 lhc" ng-class="{ 'visible': 'lhc'===menuVisible }">
      
      <div class="content">
        
        <div class="main_streams">
          <ng-include src="'partials/_main_streams.html'"></ng-include>
        </div>
      
        <div class="streams">
          <ng-include src="'partials/_streams.html'"></ng-include>
        </div>
        
      </div>
      
    </div>
    
    <!-- Content Container -->
    
    <div class="col-md-8 col-sm-12 col-xs-12 main_container" scroll-glue
        ng-click="hideLHCaRHC()"
        ng-init="(lastRecipientString = '')"
        >
      
      <div class="messages" 
            ng-repeat="message in messages track by $index"
            ng-init="
            (lastRecipientString = (messages[$index - 1].type == 'stream' ? messages[$index - 1].display_recipient+'-'+messages[$index - 1].subject : messages[$index - 1].recipient_mails));
            (currentRecipientString = (message.type == 'stream' ? message.display_recipient+'-'+message.subject : message.recipient_mails));
            (nextRecipientString = (messages[$index + 1].type == 'stream' ? messages[$index + 1].display_recipient+'-'+messages[$index + 1].subject : messages[$index + 1].recipient_mails));
            conversationStarted = (currentRecipientString != lastRecipientString ? true : false);
            conversationEnded = (currentRecipientString != nextRecipientString ? true : false);
            lastConversationDate = (messages[$index - 1].timestamp * 1000 | date : 'yyyyMMdd');
            currConversationDate = (message.timestamp * 1000 | date : 'yyyyMMdd');
            nextConversationDate = (messages[$index + 1].timestamp * 1000 | date : 'yyyyMMdd');
            "
            >
        
        <div class="conversation_date row" ng-show="lastConversationDate != currConversationDate">
          <div class="col-md-5">
            <hr/>
          </div>
          <div class="col-md-2">
            {{message.timestamp * 1000 | date : 'd MMM'}}
          </div>
          <div class="col-md-5">
            <hr/>
          </div>
        </div>
        
        <div class="message"
            ng-click="openNewMessage(message.type, (message.recipient_mails ? message.recipient_mails : message.display_recipient), message.subject)"
            ng-class="(conversationStarted || lastConversationDate != currConversationDate ? 'first' : ''); (conversationEnded || nextConversationDate != currConversationDate ? 'last' : '');"
            >
              
          <div class="recipients" 
              ng-if="(conversationStarted) || lastConversationDate != currConversationDate"
              >
            <div ng-if="message.type == 'stream'" 
                ng-init="streamData = (zulipData.subscriptions | filter: {name: message.display_recipient})">
              <a class="stream"
                ng-style="{'background': streamData[0].color}"
                ui-sref="main.narrow({ type: 'stream', name: message.display_recipient })"
                >
                <span>
                  {{ message.display_recipient }}
                </span>
              </a>
              <span
                ng-style="{'color': streamData[0].color}" 
                class="glyphicon glyphicon-play recipeints_divider"></span>
              <a class="topic" 
                 ui-sref="main.narrow.topic({ type: 'stream', name: message.display_recipient, topic: message.subject })">
                <span>
                  {{ message.subject }}
                </span>
              </a>
              <div class="clear"></div>
            </div>
            
            <div ng-if="message.type == 'private'">
              <a class="user" ui-sref="main.narrow({ type: 'pm-with', name: message.recipient_mails})" ng-repeat="recipient in message.display_recipient track by $index">
                <span>
                  {{ recipient.full_name }}
                </span>
              </a>
            </div>
            
          </div>
          
          <div class="message_content row">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
              <img src="{{ message.avatar_url }}" 
                  ng-show="(message.sender_id != messages[$index - 1].sender_id) || conversationStarted == true || lastConversationDate != currConversationDate" 
                  />
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" 
              ng-bind-html="message.content"></div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
              <div class="message_actions">
                <span ng-if="(message.flags.indexOf('starred') >= 0)"
                  ng-click="unstar($index, message.id)" 
                  class="starred glyphicon glyphicon-star"></span>
                <span ng-if="(message.flags.indexOf('starred') < 0)"
                  ng-click="star($index, message.id)" 
                  class="unstarred glyphicon glyphicon-star-empty"></span>
              </div>
              <div class="message_time">
                {{message.timestamp * 1000 | date : 'HH:mm'}}
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="message_field">
        
        <!-- Message Field Menu -->
        <div class="main_message" ng-show="!message_field_to_show">
          <button ng-click="message_field_to_show = 'stream'; stream_recipient = ''; topic_recipient = '';">
            <span class="glyphicon glyphicon-bullhorn"></span> New stream message
          </button>
          
          <button ng-click="message_field_to_show = 'private'; private_recipient = '';">
            <span class="glyphicon glyphicon-user"></span> New private message
          </button>
        </div>
        
        
        <!-- Stream Message Field -->
        <div class="stream_message" ng-show="message_field_to_show == 'stream'">
          
          <a ng-click="message_field_to_show = false" 
            class="close_message_form">
            <span class="glyphicon glyphicon-remove"></span>
          </a>
            
          <form ng-submit="send_message('stream', stream_recipient, topic_recipient, stream_message)">
            
            <div class="recipient_container">
        
              <div uib-dropdown keyboard-nav auto-close="outsideClick" class="dropup">
                <input type="text" 
                  ng-model="stream_recipient" 
                  class="form-control stream" 
                  id="stream_recipient"
                  autocomplete="off"
                  placeholder="Recipient" uib-dropdown-toggle>

                <ul uib-dropdown-menu >
                  <li ng-repeat="subscription in zulipData.subscriptions | toArray:false | filter:{name: stream_recipient} | limitTo: 5">
                    <a href="#" ng-click="$parent.stream_recipient = subscription.name; $parent.show_stream_dd = false; focusInput('stream_recipient');">
                      {{ subscription.name }}
                    </a>
                  </li>
                </ul>
                  
                <input type="text" ng-model="topic_recipient" placeholder="(Topic)" class="form-control topic"/>
              </div>
            </div>
            
            <div class="message">
              <textarea ng-model="stream_message" class="form-control"></textarea>
            </div>
              
            <input type="submit" value="Send" class="form-control"/>
          </form>
        </div>
        
        
        <!-- Private Message Field -->
        <div class="private_message" ng-show="message_field_to_show == 'private'">
          
          <a ng-click="message_field_to_show = false" 
            class="close_message_form">
            <span class="glyphicon glyphicon-remove"></span>
          </a>
          
          <form ng-submit="send_message('private', private_recipient, null, private_message)">
            
            <div class="recipient_container pm_recipient_container">
              <span class="input-group-addon" >You and</span>
              
              <div uib-dropdown keyboard-nav auto-close="outsideClick" class="dropup">
                <input type="text" 
                ng-model="private_recipient" 
                class="form-control recipient" 
                id="private_recipient"
                autocomplete="off"
                placeholder="Recipient" uib-dropdown-toggle>
                <ul uib-dropdown-menu>
                  <li ng-repeat="user in zulipData.realm_users | filter:{email: '!'+me} | filter:last_private_recipient | limitTo: 5"
                  ng-show="other_private_recipients.indexOf(user.email) == -1">
                    <a href='#' ng-click="$parent.private_recipient = (other_private_recipient == '' ? user.email + ',' : other_private_recipient + ',' + user.email + ','); show_private_dd = false; focusInput('private_recipient');">
                      {{ user.full_name }} <{{ user.email }}>
                    </a>
                  </li>
                </ul>
              </div>

            </div>
            
            <div class="message">
              <textarea ng-model="private_message" class="form-control"></textarea>
            </div>
            
            <input type="submit" value="Send"/>
          </form>
        </div>



      </div>  
    </div>
    
    <!-- RHC -->
    
    <div class="col-md-2 col-sm-9 col-xs-9 rhc" ng-class="{ 'visible': 'rhc'===menuVisible }">
      
      <div class="content">
        
        <div class="users">
          <ng-include src="'partials/_users.html'"></ng-include>
        </div>
        
        <hr/>
        
        <div class="groups">
          <ng-include src="'partials/_groups.html'"></ng-include>
        </div>
      
      </div>
      
    </div>
  </div>
  
</div>







