html,
body, 
body .container-fluid,
body .container-fluid .page_main,
body .container-fluid .page_home,
body .container-fluid .page_main > div,
body .container-fluid .page_home > div,
body .container-fluid .page_main > div md-content,
body .container-fluid .page_home > div md-content,
body .container-fluid .page_main > div .main_container,
body .container-fluid .page_home > div .main_container,
body .container-fluid .page_main > div .main_container .messages,
body .container-fluid .page_home > div .main_container .messages {
  height: 100%;
  min-height: auto;
}
body .container-fluid .page_main > div .main_container .messages,
body .container-fluid .page_home > div .main_container .messages {
  overflow:auto;
}
body .container-fluid .page_main > div .main_container .messages .message,
body .container-fluid .page_home > div .main_container .messages .message {
  width: 96%;
}

.header {
    position: fixed;
    z-index: 101;
    width: 100%;
    background: #fff;
}
.header,
.header .rhc,
.header .main,
.header .lhc,
.header .logo {
    height: 48px;
}
.header .logo {
    margin-left: -5px;
}
.header .lhc {
    padding-left: 5px;
    text-align: left;
}
.header .rhc {
    padding-right: 5px;
    text-align: right;
}
.header .main {
    text-align: center;
    line-height: 48px;
    font-weight: bold;
    font-size: 18px;
} 
.header .rhc div.options,
.header .rhc > a,
.header .lhc > a {
    text-align: center;
    display: inline-block;
    height: 48px;
    width: 30px;
    padding: 5px;
    font-size: 20px;
    line-height: 38px;
} 
.header .rhc div.options {
    padding: 0;
} 
.header .rhc div.options a {
    display: block;
    padding: 5px;
}
.header .rhc div.options ul {
    right: 0;
    left: auto;
}
md-tabs-wrapper {
    position: fixed !important;
    top: 48px;
    left: 0;
    width: 100%;
    z-index: 100;
    background: #fff !important;
}
.header.main {
  border-bottom: 1px solid #ccc;
}
md-tabs-content-wrapper {
    margin-top: 98px;
}
md-pagination-wrapper {
    width: 100% !important;
}
md-ink-bar,
md-tab-item {
    width: 33%;
}
.streams .title,
.users .title,
.preselections .title,
.groups .title {
    width: 100%;
    background: #fff;
    padding: 5px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}
.streams .content,
.users .content,
.preselections .content,
.groups .content {
    margin-bottom: 5px;
}

.streams .content ul,
.users .content ul,
.preselections .content ul,
.groups .content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.streams .content ul li,
.users .content ul li,
.preselections .content ul li,
.groups .content ul li {
    border-bottom: 1px solid #eee;
    padding: 5px 0;
}
.streams .content ul li a,
.users .content ul li a,
.preselections .content ul li a,
.groups .content ul li a {
    padding: 5px;
    display: block;
    width: 100%;
}

.streams .content ul li a span.icon,
.preselections .content ul li a span.icon,
.groups .content ul li a img,
img.icon
/*.users .content ul li a img.icon*/ {
    border: 1px solid #ccc;
    padding: 10px;

    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    border-radius: 17px;
    margin-right: 5px;
}
.groups .content ul li a img,
img.icon
/*.users .content ul li a img.icon*/ {
    width: 36px !important;
    padding: 0;
}
.streams .content ul li ul {
    display: none;
} 



.messages {
  padding-top: 58px;
  padding-bottom: 120px;
}
.conversation_date > div {
    height: 20px;
    text-align: center;
    color: #ccc;
    font-weight: bold;
    margin: 5px 0;
}
.conversation_date > div hr {
    margin: 9px;
}

.message_content .recipients .dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 5px;
}
.message_content .recipients {
    background: #eee;
    padding: 2px 5px;
    margin: 5px 0;
    border-radius: 15px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.message_content .recipients,
.message_content .recipients a {
    color: #888;
    font-size: 12px;
    line-height: 12px;
}

.message_content > div.row .user_image {
    width: 100%;
}
.message_content > div.row .time {
    font-size: 12px;
    color: #ccc;
    text-align: right;
}
.message_content .message_inline_image img {
    width: 50%;
}

.modal-dialog {
    z-index: 5000;
}
.modal-dialog .modal-content {
    padding: 20px;
}
.modal-dialog .modal-content .button_group {
    text-align: center;
}
.modal-dialog .modal-content .button_group button {
    width: 90%;
}

.message_field {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; 
    background: #fff;
    padding: 5px;
}
.message_field .recipient_container {
    margin-bottom: 5px;
}
.message_field .private_message .recipient_container,
.message_field .recipient_container .stream {
    display: none;
}
.message_field .recipient_container,
.message_field .recipient_container label,
.message_field .recipient_container .topic {
    height: 30px;
}
.message_field .recipient_container label {
    line-height: 30px;
    text-align: center;
    width: 20%;
}
.message_field .recipient_container .topic {
    width: 80%;
}
.message_field .message {
    width: 80%;
    float: left;
}
.message_field .message,
.message_field .send {
  height: 60px;
}
.message_field input {
    width: 20%;
    float: right;
}
.message_field input:after {
    display: block;
    content: '';
    clear: both;
}

.p_recipient {
    position: relative;
    border-bottom: 1px solid #eee;
    padding: 5px;
    margin-bottom: 5px;
}
.p_recipient .remove_recipient {
    position: absolute;
    right: 0;
    top: 5px;
    font-size: 16px;
    padding: 10px;
}
.settings {
    padding-top: 50px;
}
.settings .content,
.settings .title {
    
}
.settings .title {
    padding: 5px 0;
    margin-bottom:5px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
}
.settings .content {
    padding: 5px 0;
    margin-bottom:15px;
}
.settings label {
    font-weight: normal;
}

.header.login {
  border-bottom: 1px solid #ccc;
}
.login_container {
    margin-top: 68px;
}

.login_container input {
    width: 100%;
}
.login .error_space {
  min-height: 32px;
  margin-bottom: 10px;
}
.login .error_space .alert {
  padding: 5px;
  margin-bottom: 0;
}
.login .error_message.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}
.login .error_message.ng-enter.ng-enter-active {
  opacity:1;
}
.login .error_message.ng-leave {
  transition:0.5s linear all;
  opacity:1;
}
.login .error_message.ng-leave.ng-leave-active {
  opacity:0;
}
/*
@media(max-width:767px){
  
}
*/
@media(min-width:768px){
  
}
@media(min-width:992px){
  .header.home {
    border-bottom: 1px solid #ccc;
  }
  md-content {
    
  }
  md-tabs {
    position: relative;
    height: 100%;
  }
  md-tabs-wrapper {
    top: 60px;
    left: 0; 
    position: absolute !important;
  }
  md-tabs-content-wrapper {
    height: 100%;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
  }
  md-tab-item {
    padding: 12px 0 !important;
  }
}
@media(min-width:1200px){
  
}
